<!DOCTTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
         <div class="main-content">
        {{>header}}
        <p>This site is created by Pooja Mahajan</p>
    <p></p>
    <img src="/img/images.jpg" alt="Me">

        </div>

    <p>{{>footer}}</p>
</body>
</html>