<!DOCTTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
           <div class="main-content">
        {{>header}}
    <p>{{para}}</p>
        </div>


    <p>Created by : {{>footer}}</p>
</body>
</html>